<a href="https://colab.research.google.com/github/williamzhao01123/crypto-lab/blob/master/Crypto_Lab_William_Zhao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Week 1


*   Download historical data of the Ampleforth and set up the Google Colab and Github environment.

Note: 
Url1 documents the link to the supply history document, which can be downloaded from [Ampleforth](https://www.ampleforth.org/dashboard/supply). Url2 documents the link to the price and market supply document, which can be downloaded from [CoinGecko](https://www.coingecko.com/en/coins/ampleforth/historical_data/usd?__cf_chl_jschl_tk__=02c9da4db0b2957f6e4f55b4aa8d58106ae6e2a9-1600572910-0-AWVK2D6MT0k3pkThi41nmIfe64HMEn1FdIATn68AVpE3mvlCowHcL4P4wxj14rQ-_GOhL-XuYwH4OPg81tzNypjCUEiNitMgVEZTzNVEPyz6rCTJawsQQjaz6xXC7k1FNZMIvijXXziubxLmA5tE0zvoUXkM0DHho3KrCbCHaZaXO_e8oFibWbgQGBhTwmgyY7tsj-5O5CM327U-Ejw2v1aFcWRmQNlenkyTu3JWLdFlrivnzgpR3pSaU0x0L0lcrIrRFg82K_rp-wtn2O9zNlmwKDZHxdTAsaErpKdz2tOt7dkRUn47CQuq3Xy_ftQSy1m9ncIPcJb6aDwLy0c0LNU). The df is the dataframe acquired by merging the two data sources.

In [73]:
import numpy as np
import pandas as pd

url1 = 'https://raw.githubusercontent.com/williamzhao01123/crypto-lab/master/SUPPLY%20HISTORY.csv'
url2 = 'https://raw.githubusercontent.com/williamzhao01123/crypto-lab/master/ampl-usd-max.csv'
supply = pd.read_csv(url1)
price = pd.read_csv(url2)

ser1 = pd.Series(supply["supply"])
ser2 = pd.Series([50000000])
ser1 = ser2.append(ser1, ignore_index=True)

price["supply"] = ser1
df = price
df

                  snapped_at     price  ...  total_volume        supply
0    2019-06-29 00:00:00 UTC  1.995927  ...  1.544874e+06  5.000000e+07
1    2019-06-30 00:00:00 UTC  2.088133  ...  3.647059e+05  5.000000e+07
2    2019-07-01 00:00:00 UTC  1.927304  ...  2.997094e+05  5.132114e+07
3    2019-07-02 00:00:00 UTC  1.892318  ...  1.024026e+05  5.290273e+07
4    2019-07-03 00:00:00 UTC  1.613366  ...  2.002426e+05  5.420791e+07
..                       ...       ...  ...           ...           ...
445  2020-09-16 00:00:00 UTC  0.742613  ...  1.363641e+07  3.779661e+08
446  2020-09-17 00:00:00 UTC  0.735572  ...  8.418690e+06  3.678079e+08
447  2020-09-18 00:00:00 UTC  0.762779  ...  8.756111e+06  3.586797e+08
448  2020-09-19 00:00:00 UTC  0.773892  ...  1.161926e+07  3.510776e+08
449  2020-09-20 00:00:00 UTC  0.797171  ...  7.104496e+06  3.438466e+08

[450 rows x 5 columns]