<a href="https://colab.research.google.com/github/williamzhao01123/crypto-lab/blob/master/Crypto_Lab_William_Zhao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Week 1


*   Download historical data of the Ampleforth and set up the Google Colab and Github environment.

Note: 
Url1 documents the link to the supply data, which can be downloaded from [Ampleforth](https://www.ampleforth.org/dashboard/supply). Url2 documents the link to the price and market cap data, which can be downloaded from [CoinGecko](https://www.coingecko.com/en/coins/ampleforth/historical_data/usd?__cf_chl_jschl_tk__=02c9da4db0b2957f6e4f55b4aa8d58106ae6e2a9-1600572910-0-AWVK2D6MT0k3pkThi41nmIfe64HMEn1FdIATn68AVpE3mvlCowHcL4P4wxj14rQ-_GOhL-XuYwH4OPg81tzNypjCUEiNitMgVEZTzNVEPyz6rCTJawsQQjaz6xXC7k1FNZMIvijXXziubxLmA5tE0zvoUXkM0DHho3KrCbCHaZaXO_e8oFibWbgQGBhTwmgyY7tsj-5O5CM327U-Ejw2v1aFcWRmQNlenkyTu3JWLdFlrivnzgpR3pSaU0x0L0lcrIrRFg82K_rp-wtn2O9zNlmwKDZHxdTAsaErpKdz2tOt7dkRUn47CQuq3Xy_ftQSy1m9ncIPcJb6aDwLy0c0LNU). The df is the dataframe acquired by merging the two data sources.

My Github personal page: [Github Page](https://github.com/williamzhao01123/crypto-lab)

Data Import

In [19]:
import numpy as np
import pandas as pd
from google.colab import files

url1 = 'https://raw.githubusercontent.com/williamzhao01123/crypto-lab/master/Data/Ampleforth%20Supply%20History.csv'
url2 = 'https://raw.githubusercontent.com/williamzhao01123/crypto-lab/master/Data/ampl-usd-max.csv'
supply = pd.read_csv(url1)
supply
price = pd.read_csv(url2)
price

                  snapped_at     price    market_cap  total_volume
0    2019-06-29 00:00:00 UTC  1.995927  9.218437e+06  1.544874e+06
1    2019-06-30 00:00:00 UTC  2.088133  9.642670e+06  3.647059e+05
2    2019-07-01 00:00:00 UTC  1.927304  9.195160e+06  2.997094e+05
3    2019-07-02 00:00:00 UTC  1.892318  9.241390e+06  1.024026e+05
4    2019-07-03 00:00:00 UTC  1.613366  8.065828e+06  2.002426e+05
..                       ...       ...           ...           ...
445  2020-09-16 00:00:00 UTC  0.742613  1.518165e+08  1.363641e+07
446  2020-09-17 00:00:00 UTC  0.735572  1.473072e+08  8.418690e+06
447  2020-09-18 00:00:00 UTC  0.762779  1.482530e+08  8.756111e+06
448  2020-09-19 00:00:00 UTC  0.773892  1.458856e+08  1.161926e+07
449  2020-09-20 00:00:00 UTC  0.797171  1.478808e+08  7.104496e+06

[450 rows x 4 columns]

Date Processing

In [ ]:
ser1 = pd.Series(supply["supply"])
ser2 = pd.Series([50000000])
ser1 = ser2.append(ser1, ignore_index=True)

price["total supply"] = ser1
df = price
df

Data Export

In [ ]:
df.to_csv('Ampleforth.csv') 
files.download('Ampleforth.csv')

Week 2

*   download and plot Ampl, Dai, MKR, ETH data (use python and github)
*   simple data engineering of Ampl, Dai, MKR, ETH

ETH data is downloaded from [ETH](https://www.coingecko.com/en/coins/ethereum/historical_data/usd?end_date=2020-09-25&start_date=2010-01-01#panel). MKR data is downloaded from [MKR](https://www.coingecko.com/en/coins/maker/historical_data/usd?end_date=2020-09-25&start_date=2016-01-01#panel). DAI data is downloaded from [DAI](https://www.coingecko.com/en/coins/dai/historical_data/usd?end_date=2020-09-25&start_date=2012-01-01#panel).

Data Import

In [22]:
urlDAI = 'https://raw.githubusercontent.com/williamzhao01123/crypto-lab/master/Data/dai-usd-max.csv'
urlMKR = 'https://raw.githubusercontent.com/williamzhao01123/crypto-lab/master/Data/mkr-usd-max.csv'
urlETH = 'https://raw.githubusercontent.com/williamzhao01123/crypto-lab/master/Data/eth-usd-max.csv'
DAI = pd.read_csv(urlDAI)
MKR = pd.read_csv(urlMKR)
ETH = pd.read_csv(urlETH)
AMPL = df
DAI
MKR
ETH

                   snapped_at       price    market_cap  total_volume
0     2015-08-07 00:00:00 UTC    2.831620  0.000000e+00  9.062200e+04
1     2015-08-08 00:00:00 UTC    1.330750  8.033948e+07  3.680700e+05
2     2015-08-10 00:00:00 UTC    0.687586  4.155631e+07  4.004641e+05
3     2015-08-11 00:00:00 UTC    1.067379  6.453901e+07  1.518998e+06
4     2015-08-12 00:00:00 UTC    1.256613  7.601326e+07  2.073893e+06
...                       ...         ...           ...           ...
1871  2020-09-21 00:00:00 UTC  370.967895  4.192998e+10  1.136962e+10
1872  2020-09-22 00:00:00 UTC  341.277131  3.869581e+10  1.483782e+10
1873  2020-09-23 00:00:00 UTC  343.917547  3.867991e+10  1.196711e+10
1874  2020-09-24 00:00:00 UTC  321.077435  3.623917e+10  9.839918e+09
1875  2020-09-25 00:00:00 UTC  348.821020  3.931472e+10  1.220955e+10

[1876 rows x 4 columns]